<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.appinventary_free_shop">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logofreeshop"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".recyclerview2"></activity>
        <activity android:name=".recyclerview" />
        <activity android:name=".Principal" />
        <activity android:name=".consulta_spinner_categoria" />
        <activity android:name=".detalles_categorias" />
        <activity android:name=".listview_categorias" />
        <activity android:name=".listview_productos" />
        <activity android:name=".tb_categoria" />
        <activity android:name=".slash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".tb_producto" />
        <activity android:name=".Login" />
        <activity android:name=".tb_usuario" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>